<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'DinDinPro.Universal' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <!-- This key is for Application Insights resource 'DinDinPro.Universal' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>83d8fd64-3aee-4140-8acf-43cf0deb51e1</InstrumentationKey>
</ApplicationInsights>